# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

moonloader/lib/cheat-menu/json/config.json
/CheatMenu.VC.VC.opendb
/CheatMenu.VC.db
.vs/CheatMenu/v14/.suo
ipch/CHEATMENU.VCXPROJ-daebb660/CHEATMENU-7e055069.ipch
/ipch/CHEATMENU.VCXPROJ-daebb660/CHEATMENU-ac659b63.ipch
